.markdown-wrapper {
  margin-bottom: 4rem;
  h1 {
    margin-bottom: 1.5rem;
  }
  h4, h5 {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    text-transform: uppercase;
  }
}
