.table {
  .excerpt {
    font-size: 0.9rem;
  }
  .btn-width {
    width: 32px;
    text-align: center;
  }
  .btn-actions {
    width: 80px;
    text-align: center;
  }
}

.badge-counter {
  min-width: 52px;
}
